.header-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #313638;
  padding: 0.25rem;
  justify-content: center;
}

.wrap-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo-header {
  width: 70px;
  height: auto;
}

.menu-header-section {
  padding: 0;
  display: flex;
  justify-content: center;
}

.wrap-menu-header-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 0;
}
.wrap-menu-header-section ul li {
  font-size: 1.2rem;
  padding: 1.5rem;
  color: #fff;
  list-style: none;
}

.wrap-cta {
  padding: 1.5rem 0;
}

.cta-a {
  color: #fff;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: #76c5f0;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  .header-landing {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.3rem;
    width: 100%;
    min-height: 70px;
  }
  .logo-header {
    width: 60px;
    max-width: 80%;
  }
  .menu-header-section {
    flex-grow: 1;
    padding: 0;
  }
  .wrap-menu-header-section {
    justify-content: space-between;
    width: 100%;
  }
  .wrap-menu-header-section ul {
    justify-content: space-evenly;
  }
  .wrap-menu-header-section ul li {
    padding: 0.1rem 0.2rem;
    font-size: 0.6rem;
  }
}
@media (min-width: 481px) {
  .header-landing {
    padding: 1rem;
    justify-content: center;
  }
  .wrap-logo {
    margin: 0;
    padding-right: 2.5%;
  }
  .logo-header {
    width: 90px;
  }
  .menu-header-section {
    padding: 0;
    justify-content: center;
  }
  .wrap-menu-header-section {
    width: 100%;
  }
  .wrap-menu-header-section ul {
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 25px;
  }
  .wrap-menu-header-section ul li {
    padding: 0.5rem 1rem;
  }
}
.footer-section {
  max-width: max;
  background-color: #313638;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.wrap-social-logos ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  align-items: start;
  margin: 0;
}
.wrap-social-logos ul .social-logo {
  max-width: 50px;
  width: 100%;
  padding: 1rem;
}

.footer-creds {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #313638;
  height: 55px;
}

@media (max-width: 480px) {
  .footer-creds {
    text-align: center;
    padding: 0 0.5rem;
  }
  .footer-creds p {
    font-size: 0.6rem;
    font-weight: 100;
  }
}
@media (min-width: 481px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/** Estilos Generales **/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

/** Boton **/
.wrap-cta {
  padding: 1.5rem 0;
}

.cta-a {
  color: #fff;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: #76c5f0;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

/** Hero Section **/
.hero-section {
  flex-grow: 1;
  height: 100vh;
  background: url(../img/IMG-20220824-WA0016.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(106, 141, 163, 0.7);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
}

.wrap-hero-section {
  max-width: 600px;
  color: #fff;
  padding: 15%;
  font-weight: bold;
}

@media (max-width: 480px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  p {
    font-size: 0.8rem;
    font-weight: 500;
  }
  h1 {
    font-size: 1.5rem;
  }
  .cta-a {
    font-size: 0.6rem;
    padding: 5px;
  }
  .wrap-hero-section {
    padding: 5%;
  }
}

/*# sourceMappingURL=nosotros.css.map */
