:root {
    --main-c: #76c5f0;
    --border-r: .2rem;
}

/* Estilos Generales */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.wrap-cta {
    padding: 1.5rem 0;
}

.cta-a {
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

/* Header */
.header-landing {
    display: flex;
    justify-content: center;
    background: #313638;
    padding: 0.25rem;
}

.wrap-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: 120px;
    height: auto;
}

.menu-header-section {
    padding: 1rem;
}

.wrap-menu-header-section ul li {
    font-size: 1.1rem;
    padding: 1.5rem;
    color: #fff;
}

.wrap-menu-header-section ul {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

/* Hero Section */
.body-hero-section {
    position: relative;
    min-height: 100vh; /* Ajustado a 100vh */
    background: url(../img/IMG-20220824-WA0016.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    overflow: hidden;
}

.wrap-hero-section {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1200px;
    color: #fff;
    padding: 5%;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 0;
}

.wrap-pic-hero-section {
    display: flex; /* Usamos flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: center; /* Centrar elementos en la línea */
    gap: 15px; /* Espacio entre imágenes */
    padding: 20px;
}

.wrap-pic-hero-section ul {
    padding: 0;
    margin: 0;
    display: contents; /* Permite que los hijos usen el grid sin problemas */
}

.wrap-pic-hero-section li {
    flex: 0 1 calc(25% - 15px); /* Cada imagen ocupará un 25% del ancho menos el espacio */
}

.wrap-pic-hero-section img {
    width: 100%; /* Las imágenes ocuparán todo el ancho de la celda */
    height: 200px; /* Altura fija para todas las imágenes */
    border-radius: 10px; /* Bordes redondeados */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    min-width: 170px;
}

/* Footer */
.footer-section {
    max-width: 100%;
    margin: 0 auto;
    background-color: #313638;
}

.wrap-social-logos ul {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: start;
    margin: 0;
}

.social-logo {
    max-width: 50px;
    width: 100%;
    padding: 1rem;
}

.footer-creds {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #313638;
    height: 55px;
}


/* Media Queries */
@media (max-width: 480px) {
    /* Estilos generales */

    p {
        font-size: 1rem;
        font-weight: 500;
    }

    h1 {
        font-size: 2rem;
    }

    :root {
        --main-c: #76c5f0;
        --border-r: .2rem;
    }
    
    /** Header **/
    
    .header-landing {
        display: flex;
        flex-wrap: nowrap; /* No permitir que los elementos se envuelvan */
        justify-content: space-between; /* Espacio entre logo y menú */
        align-items: center; /* Alinear verticalmente */
        background: #313638;
        padding: 0.3rem; /* Ajustar padding del header */
        width: 100vw; /* Asegurar que el header ocupe todo el ancho de la ventana */
        position: relative; /* Asegura que se posicione correctamente en la página */
        left: 50%; /* Centrar el header */
        right: 50%; /* Centrar el header */
        transform: translateX(-50%); /* Centrar el header */
        min-height: 70px; /* Altura mínima */
    }
    /* Logo */
    .wrap-logo {
        flex: 0 1 auto; /* Permitir que el logo se reduzca pero no crezca */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo-header {
        width: 60px; /* Ajustar el tamaño del logo */
        height: auto;
        max-width: 80%; /* Asegura que el logo se reduzca en pantallas pequeñas */
    }
    
    /* Menu */
    .menu-header-section {
        flex-grow: 1; /* Permitir que el menú ocupe el espacio disponible */
        display: flex; /* Usar flex para el menú */
        justify-content: center; /* Distribuir elementos del menú al máximo */
        align-items: center; /* Alinear verticalmente */
        padding: 0;
        max-width: 90%;
    }
    
    .wrap-menu-header-section {
        display: flex; /* Usamos flex para el menú */
        justify-content: space-between; /* Distribuir elementos del menú al máximo */
        height: auto; /* Ajustar altura automáticamente */
        align-items: center;
        flex-wrap: nowrap; /* No permitir que los elementos se envuelvan */
        margin: 0; /* Eliminar márgenes para evitar el desbordamiento */
        padding: 0; /* Sin padding para evitar el desbordamiento */
        width: 100%; /* Hacer que el contenedor del menú ocupe todo el ancho */
        gap: 0;
    }

    .cta-a {
        color: #fff;
        font-weight: bolder;
        font-size: 0.8rem;
        background-color: var(--main-c);
        padding: 5px;
        border-radius: var(--border-r);
    }
    
    .wrap-menu-header-section ul {
        display: flex; /* Usamos flex para el menú */
        height: auto; /* Ajustar altura automáticamente */
        flex-wrap: nowrap; /* No permitir que los elementos se envuelvan */
        margin: 0; /* Eliminar márgenes para evitar el desbordamiento */
        padding: 0; /* Sin padding para evitar el desbordamiento */
        width: 100%; /* Asegurar que el ul ocupe todo el ancho */
        justify-content: space-evenly;
    }
    
    .wrap-menu-header-section ul li {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño */
        padding: 0.1rem 0.2rem; /* Espaciado reducido para evitar el desbordamiento */
        color: #fff;
    }

    /* Footer */
    .footer-section {
        max-width: 100%;
        margin: 0 auto;
        background-color: #313638;
        display: flex; /* Cambiar a flexbox */
        flex-direction: column; /* Permitir que el contenido se apile verticalmente */
        align-items: center; /* Centrar el contenido horizontalmente */
        padding: 0; /* Eliminar el padding para evitar el espacio adicional */
    }
    
    .wrap-social-logos ul {
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: start;
        margin: 0;
    }
    
    .social-logo {
        max-width: 50px;
        width: 100%;
        padding: 1rem;
    }
    
    .footer-creds {
        display: flex;
        justify-content: center;
        color: #fff;
        background-color: #313638;
        height: auto; /* Cambiar de altura fija a auto para que se ajuste al contenido */
        padding: 0.5rem 0; /* Agregar un padding pequeño para espacio alrededor del texto */
        text-align: center; /* Asegurar que el texto esté centrado */
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
}

@media (min-width: 481px) {
    .header-landing {
        flex-direction: row; /* Mantener en fila para pantallas grandes */
    }

    .logo-header {
        width: 120px; /* Tamaño del logo en desktop */
    }
}