:root{
    --main-c:#76c5f0;
    --border-r:.2rem;
}

/** Estilos Generales **/
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    list-style: none;
}

.wrap-cta{
    padding: 1.5rem 0;
}

.cta-a{
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2.2rem;
}

/** Header **/
.header-landing{
    display: flex;
    justify-content: center;
    background: #313638;
    padding: 0.25rem;
}

.wrap-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: 120px;
    height: auto;
}

/** Hero Section **/

/** Hero Section **/

.body-hero-section {
    position: relative;
    min-height: 110vh; /* Se incrementa la altura mínima para evitar la superposición */
    background: url(/img/IMG-20220824-WA0016.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106,141,163,0.7);
    background-blend-mode: multiply;
    overflow: hidden;
}

.wrap-hero-section {
    position: relative; /* Cambiar a relative para mantener la posición en el flujo normal */
    z-index: 2;
    width: 90%;
    max-width: 1200px;
    color: #fff;
    padding: 5%;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 2rem; /* Agrega espacio debajo del texto para evitar superposición */
}

.wrap-pic-hero-section {
    position: relative; /* Cambiar a relative para que el contenedor siga el flujo normal */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1;
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-pic-hero-section ul {
    display: flex; /* Alínea los elementos de la lista horizontalmente */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias líneas si es necesario */
    padding: 0; /* Elimina el padding predeterminado del <ul> */
    margin: 0; /* Elimina el margen predeterminado del <ul> */
    list-style: none; /* Elimina los puntos de la lista */
    justify-content: center; /* Centra las imágenes dentro del <ul> */
}

.wrap-pic-hero-section li {
    margin: 0 10px 10px 0; /* Espacio entre cada imagen */
}

.wrap-pic-hero-section li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.wrap-pic-hero-section img {
    height: 300px; /* Fija la altura de todas las imágenes a 150px */
    width: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Esquinas redondeadas con un radio de 10px */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
}

/** Footer **/
.footer-section{
    max-width:max;
    margin: 0 auto;
    background-color: #313638;
}

.menu-header-section{
    padding: 1rem;
}

.wrap-menu-header-section ul li{
    font-size: 1.1rem;
    padding: 1.5rem;
    color: #fff;
}

 .wrap-menu-header-section ul{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.wrap-social-logos ul{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: start;
    margin: 0;
}

.social-logo{
    max-width: 50px;
    width: 100%;
    padding: 1rem;
}

.footer-creds{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #313638;
    height: 55px;
}
