:root {
    --main-c: #76c5f0;
    --border-r: .2rem;
}

/** Estilos Generales **/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.wrap-cta {
    padding: 1.5rem 0;
}

.cta-a {
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

/** Header **/

.header-landing {
    display: flex;
    justify-content: center;
    background: #313638;
    padding: 0.25rem;
}

.wrap-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: 120px;
    height: auto;
}

/** Hero Section **/

.hero-section {
    flex: 1; 
    background: url(/Imagenes/IMG-20220824-WA0016.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(106,141,163,0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.contact-container {
    display: flex;
    padding: 5%;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.contact-left {
    background-color: hsl(197, 7%, 21%, 0.5);
    padding: 5%;
    border-radius: 40px;
    backdrop-filter: blur(4px);
    border: 5px solid hsl(197, 7%, 21%, 0.5);
    display: flex;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 600px;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 50%;
}

.contact-left-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-left, .contact-right {
    flex: 1; /* Hace que ambos ocupen el mismo ancho */
}

.contact-right {
    width: 50%;
    min-width: 400px;
    height: auto;
    border: none;
    display: flex;
}

.serigrafia-map {
    width: 100%;
    height: auto; /* Ocupa toda la altura del contenedor */
    border: none;
    border-radius: 40px; /* Aplica el borde redondeado al iframe */
    min-height: 600px;
    height: 100%;
}

.contact-left-title h2 {
    font-weight: bolder;
    color: #fff;
    font-size: 40px;
    margin: 0;
}

.contact-left-title hr {
    border: none;
    width: 100%;
    height: 5px;
    background-color: #76c5f0;
    border-radius: 10px;
    margin-bottom: 20px;
}


.contact-inputs {
    width: 95%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 5%;
    font-weight: 500;
    color: #000000;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-inputs-textarea {
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
    padding: 5%;
    font-weight: 500;
    color: #000000;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 140px;
}

.contact-inputs:focus {
    box-shadow: inset 0 0 0 5px #76c5f0;
}

.contact-inputs-textarea:focus {
    box-shadow: inset 0 0 0 5px #76c5f0;
}

.contact-inputs::placeholder {
    color: #313638;
}

.contact-inputs-textarea::placeholder {
    color: #313638;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(270deg, #76c5f0, #adadad);
    cursor: pointer;
    font-weight: bolder;
}

.contact-left button img {
    height: 20px;
}

/** Footer **/

.footer-section {
    background-color: #313638;
}

.menu-header-section {
    padding: 1rem;
}

.wrap-menu-header-section ul li {
    font-size: 1.1rem;
    padding: 1.5rem;
    color: #fff;
}

.wrap-menu-header-section ul {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.wrap-social-logos ul {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: start;
    margin: 0;
}

.social-logo {
    max-width: 50px;
    width: 100%;
    padding: 1rem;
}

.footer-creds {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #313638;
    height: 55px;
    margin: 0;
    padding: 0;
}
